<!DOCTYPE html>
<html lang="es">

<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
  <h1 class="text-center">Sonrie :D</h1>
  <div>
  <video id="player" controls autoplay></video>
  <input type="button" value="capturar" id="capture">
  <canvas id="snapshot" width=320 height=240></canvas>
</div>
<div id="ocultar">
    <p>Se le notifico a la persona de su visita</p>
    <input type="button" value="OK" id="ok">
</div>
    <script src="../js/app1.js"></script>
  </body>
</html>