<!DOCTYPE html>
<html lang="es">

<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind|Raleway" rel="stylesheet">
</head>

<body>
  <h1 class="text-center" id="sonrie">Sonrie para la foto :D</h1>
  <div id="canvas-snapshot">
  <video id="player" controls autoplay></video>
  <br>
  <input type="button" value="capturar" id="capture" class="btn-styles">
  <canvas id="snapshot" width=320 height=240></canvas>
</div>
<div id="win" class="modal" name="win">
  <div id="conteiner-info">
    <span class="close">&times;</span>
    <div id="info-user"></div>
  </div>
</div>
    <script src="../js/main.js"></script>
  </body>
</html>