<!DOCTYPE html>
<html lang="es">

<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <h1 class="text-center" id="sonrie">Sonrie :D</h1>
  <div id="canvas-snapshot">
  <video id="player" controls autoplay></video>
  <br>
  <input type="button" value="capturar" id="capture" class="btn-styles">
  <canvas id="snapshot" width=320 height=240></canvas>
</div>
<input type="button" id="siguiente2" value="siguiente" class="btn-styles">
    <script src="../js/app1.js"></script>
  </body>
</html>